###
# Mac OS X directory preferences
###
.DS_Store
.localized

## Bower
client/bower_components

## NPM
npm-debug.log
client/node_modules

# Builds
# client/js/build
client/assets/stylesheets/main.css

## Handlebars precompiled
client/app/templates/precompiled

private.md

tmp
