development: &def
    hostname: 'http://hostname'
    twitter:
        consumer_key: YOUR_CONSUMER_KEY
        consumer_secret: YOUR_CONSUMER_SECRET
        callback_url: /twitter_callback
    db:
        host: localhost
        database: loconot
        port: 27017

production:
    <<: *def
    hostname: 'http://hostname'
    db:
        host: prod_host
        port: 1000
        username: main
        password: blabla
        database: cool_demo
