defaults:
    twitter.consumer_key: YOUR_CONSUMER_KEY
    twitter.consumer_secret: YOUR_CONSUMER_SECRET
    twitter.callback_url: /twitter_callback

development:
    db:
        host: localhost
        database: loconot
        port: 27017

production:
    db:
        host: prod_host
        port: 1000
        username: main
        password: blabla
        database: cool_demo