<div class="mainContainer">
  <div id="fg-addressSearch" class="form-group">
    <label for="addressSearch">Address</label>
    <input type="text" class="form-control" id="addressSearch" placeholder="Search an address">
  </div>
  <div id="search-res"></div>
  <div id="otherFields" class="otherFields">
      <label for="newTitle">Title</label>
      <input type="text" class="form-control" id="newTitle">
      <label for="newNote">Note</label>
      <input type="text" class="form-control" id="newNote">
    <button id="validationBtn" type="button" class="btn btn-success btn-validation">Add</button>
  </div>
</div>