  <div>{{ title }} <button id="destroyNote" type="button" class="close" aria-hidden="true">&times;</button></div>
  <div class="content-body">{{ body }}</div>
  <div class="content-address">{{ address }}</div>
  <div class="content-rating">{{ rating }}</div>
